.main {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.user__top {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 2rem 1rem;
  background-color: rgb(255, 161, 161);
  width: 25rem;
  height: 10rem;
  border-width: 0.2rem;
  border-color: black;
  justify-content: space-between;
  border-radius: 2.5rem;
}
.moves {
  background-color: rgb(255, 255, 255);
  margin: auto;
  padding: auto;
  width: 25rem;
  height: 15rem;
  border-width: 0.2rem;
  border-bottom-width: 0rem;
  border-top-width: 0rem;
  border-color: black;
  justify-content: space-between;
}
.user__bottom {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 2rem 1rem;
  background-color: rgb(161, 255, 189);
  width: 25rem;
  height: 10rem;
  border-width: 0.2rem;
  border-color: black;
  justify-content: space-between;
  border-radius: 2.5rem;
}
.user__icon {
  display: flex;
  width: 48px;
  height: 48px;
  margin-left: 1rem;
  justify-content: center;
  border-width: 0.2rem;
  border-radius: 3rem;
  border-color: black;
  background-color: azure;
}

.username {
  display: flex;
  background-color: rgb(229, 239, 248);
  width: 15rem;
  border-radius: 1.5rem;
  margin: auto;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
}
.rating {
  display: flex;
  background-color: rgb(44, 44, 44);
  border-radius: 1.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: aliceblue;
  padding: 4px;
  min-width: 70px;
  justify-content: center;
}
.figures {
  border-color: black;
  border-width: 0.15rem;
  background-color: cadetblue;
  width: 15rem;
  margin: auto;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
}
