.board {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  margin: auto;
  width: 50rem;
  aspect-ratio: 1/1;
  /* height: 50rem; */
  /* border-width: 0.1rem; */
  border-color: black;
}

.tile {
  /* align-content: center; */
  width: calc(50rem / 8);
  aspect-ratio: 1/1;
}

.white {
  display: flex;
  width: calc(50rem / 8);
  aspect-ratio: 1/1;
  background-color: wheat;
}

.black {
  display: flex;
  width: calc(50rem / 8);
  aspect-ratio: 1/1;
  background-color: cadetblue;
}

.chess_piece {
  align-self: center;
  margin: auto;
  width: 70px;
  height: 70px;
}
