.board {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  margin: auto;
  width: 50rem;
  aspect-ratio: 1/1;
  /* height: 50rem; */
  /* border-width: 0.1rem; */
  border-color: black;
}

.tile {
  /* align-content: center; */
  width: calc(50rem / 8);
  aspect-ratio: 1/1;
}

.white {
  display: flex;
  width: calc(50rem / 8);
  aspect-ratio: 1/1;
  background-color: wheat;
}

.black {
  display: flex;
  width: calc(50rem / 8);
  aspect-ratio: 1/1;
  background-color: cadetblue;
}

.chess_piece {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
}

.chess_piece:hover {
  cursor: grab;
}
.chess_piece:active {
  cursor: grabbing;
}
